</div>
<footer>
        <div class="container">
            <p>&copy; 2017 argxByte Commerce. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>


</body>

</html>