<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/newitem.css">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <title> AdBoard </title>

</head>
<body>

<div class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">
            AdBoard
        </a>
        <ul class="nav navbar-nav">
        <% if(!currentUser) {%>
            <li>
                <a href="/user/login">Sign In</a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="/user/register">Sign Up</a> 
            </li>
        <% } else { %>
            <li><a href="/user/profile">Signed as ( <%= currentUser.username %> )</a></li>
            <li class="sep"></li>
            <li><a href="/user/logout">Log out</a></li>
            <li class="sep"></li>
            <a href="/item" class="btn navbar-btn post-ad-link">Post Ad</a>
        <% } %>
        </ul>
    </div>  
</div>
<header class="errors">
    <% if (message.length > 0) { %>
    <% message.forEach(function( m ) { %>
    <div class="alert alert-danger">
                <%= m.msg%>
        </div>
    <% }) %>
    <% } %>
</header>
<div class="container">
