<% include ../partials/header %>


<div class="col-md-8">
    <form action="/item/<%= category._id %>" method="POST">
        <div class="row">
            <span>Ad Details</span>
            <div class="container">
                <ul>
                    <li class="category">
                        <label>Ad Type: </label>
                        <div class="">
                        <input type="hidden" name="adtype" id="adtype" value="">
                            <label>
                                <input type="radio" 
                                        value="OFFER" 
                                        name="adType">
                                        I am selling
                                <span> You are selling item </span>
                            </label>
                            <label>
                                <input type="radio" 
                                        value="WANTED" 
                                        name="adType">
                                        I want
                                <span> You are looking for item to buy </span>
                            </label>
                        </div>
                    </li>
                    <li class="price">
                        <label>Price: </label>
                        <div class="">
                            <input type="hidden" name="priceFinal" id="priceFinal" value="">
                            <label>
                                <span>$</span>
                                <input type="radio" 
                                        value="priceAmount"          
                                        name="priceType">
                                <input type="text" name="priceAmount" id="priceAmount">
                            </label>
                            <label>
                                <input type="radio" 
                                        value="free"
                                        name="priceType">
                                        Free
                            </label>
                            <label>
                                <input type="radio" 
                                        value="trade" 
                                        name="priceType">
                                        Swap / Trade
                            </label>
                        </div>
                    </li>
                    <li class="title">
                        <label>Ad Title: </label>
                        <div>
                            <input type="text" class="form-control" name="title">
                        </div>
                    </li>
                    <li class="description">
                        <label>Description: </label>
                        <div>
                            <textarea name="description" id="ad-description" maxlength="6100" data-minlength="10" name="description" rows="8"  cols="80" spellcheck="true">
                            </textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            <hr>
        <div class="row">
            <span>Location</span>
            <div class="container">
                <ul>
                    <li class="city">
                        <label>City: </label>
                        <div>
                            <input type="text" class="form-control" name="city">
                        </div>
                    </li>
                    <li class="postal">
                        <label>Postal Code: </label>
                        <div>
                            <input type="text" class="form-control" name="postal">
                        </div>
                    </li>
                    <li class="address">
                        <label>Street Address: </label>
                        <div>
                            <input type="text" class="form-control" name="address">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <span>Media</span>
            <div class="container">
                <ul>
                    <li class="image">
                        <label>Image: </label>
                        <div>
                            <input type="text" class="form-control" name="image">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <span>Contact Information</span>
            <div class="container">
                <ul>
                    <li class="phone">
                        <label>Phone Number: </label>
                        <div>
                            <input type="text" class="form-control" name="phone">
                        </div>
                    </li>
                    <li class="email">
                        <label>Email: </label>
                        <div>
                            <input type="text" class="form-control" name="email">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <span>Promote My Ad</span>
            <div class="container">
                <div class="row">
                <label><input type="checkbox" class="checkbox" name="highlighted" value="highlighted">
                Highlighted</label></div>
                <div class="row">
                <label><input type="checkbox" class="checkbox" name="urgent" value="urgent">
                Urgent</label></div>
                <div class="row">
                <label><input type="checkbox" class="checkbox" name="top" value="top">
                Top</label></div>
                <div class="row">
                <label><input type="checkbox" class="checkbox" name="homepage" value="homepage">
                Homepage</label></div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary">Submit</button>
    </form>
</div>
<% include ../partials/footer %>