<% include ../partials/header %>

<div class="col-lg-8">
    <div class="login-form">
    <h2>Register</h2>
        <form class="form-signin" action="/user/register" method="POST">
            <label>Email</label>
            <input type="text" name="email" class="form-control">
            <label>Password:</label>
            <input type="password" name="password" class="form-control">
            <label>Nickname(optional):</label>
            <input type="text" name="username" class="form-control">
            <button class="btn btn-block btn-success" type="submit">Register</button>
        </form><!-- /form -->
    </div>
</div>
<div class="col-lg-4">
    <div class="login-register">
        <h2>Already Registered?</h2>
        <p>Sign in to post your ad.</p>
        <a href="/user/login" class="btn btn-info">Sign In</a>
    </div>
</div>

<% include ../partials/footer %>