body {
    font-family: Lato;
    color: #404648;
    font-size: 14px;
    background-color: #f9f9f9;
}
.navbar-fixed-top { position: absolute!important; }

#body-container {  
  margin-top: 17%;
}
.col-md-4 li {
  color: orange;
}
.col-md-4 li a{
  color: #5a8fef;
}
.col-md-4 li a:hover {
  color: #3e68b7;
}
#login p {
  color: #474950;
}
#login li a {
  color: #fff;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 45%;
    margin: auto;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;

}
#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .fa-search{
    font-size: 23px;
}
#search-bg {
  background-color: #f1f2f2;
  padding: 25px 0;
  width: 100%;
  margin-top: 30px;
  border: solid 1px #E4E4E4;
}
.navbar {
  height: 15%;
  background-color: #22264b;
  color: #fff;
}
.navbar .container {
  margin-top: 50px;
}

.navbar-header .navbar-brand {
  color: #fff;
}
.nav .navbar-nav a{
  color: #fff;
}
.nav .navbar-nav a:hover{
  color: #fff;
}


.cat-name {
  color: #22264b;
}

footer {
  background-color: #474950;
  color: #f9f9f9;
  padding: 25px 0;
  text-align: center;
}

footer a {
  color: #f9f9f9;
}
footer a:hover {
  color: #e3e3e3;
}